In [2]:
from bs4 import BeautifulSoup
import requests

In [29]:
import pandas as pd

In [4]:
url = 'https://www.dsebd.org/top_ten_gainer.php'
page = requests.get(url)
soup=BeautifulSoup(page.text,'html')

In [32]:
table1=soup.find('table', class_='table table-bordered background-white shares-table')
table2 = soup.find_all('table')[391]

In [36]:
titles1 = table1.find_all('th')
print(titles1)

[<th width="4%">#</th>, <th width="12%">TRADING CODE</th>, <th width="12%">CLOSEP*</th>, <th width="12%">HIGH</th>, <th width="12%">LOW</th>, <th width="12%">YCP*</th>, <th width="12%">% CHANGE</th>]

In [50]:
table1_title = [title.text.strip() for title in titles1]
print(table1_title)

['#', 'TRADING CODE', 'CLOSEP*', 'HIGH', 'LOW', 'YCP*', '% CHANGE']

In [51]:
df = pd.DataFrame(columns = table1_title)
df

Empty DataFrame
Columns: [#, TRADING CODE, CLOSEP*, HIGH, LOW, YCP*, % CHANGE]
Index: []

In [53]:
column_data = table1.find_all('tr')

In [60]:
for row in column_data[1:]:
    row_data = row.find_all('td')
    table1_data = [data.text.strip() for data in row_data]
    length = len(df)
    df.loc[length] = table1_data

In [59]:
df

    # TRADING CODE CLOSEP*   HIGH    LOW   YCP* % CHANGE
0   1   SPCERAMICS    17.7   17.7   16.2   16.1   9.9379
1   2    GEMINISEA   159.1  164.8  152.4  150.0   6.0667
2   3   FUWANGFOOD    16.9   17.1   16.0   16.0    5.625
3   4      ATCSLGF     6.8    6.8    6.6    6.5   4.6154
4   5        GHAIL    13.1   13.3   12.3   12.6   3.9683
5   6   DESHBANDHU    21.7   22.7   20.7   20.9   3.8278
6   7      ECABLES   111.8  117.9  108.0  107.7   3.8069
7   8     NPOLYMER    32.9   34.6   31.6   31.7   3.7855
8   9        DESCO    23.8   24.1   22.7   23.0   3.4783
9  10    AL-HAJTEX   159.2  162.0  154.7  154.4   3.1088

In [65]:
df.to_csv(r'Table1.csv',index = False)

In [80]:
titles2 = table2.find_all('th')
table2_title = [title.text.strip() for title in titles2]
df2 = pd.DataFrame(columns = table2_title)
df2

Empty DataFrame
Columns: [#, TRADING CODE, OPEN*, HIGH, LOW, LTP*, DEVIATION %]
Index: []

In [81]:
column_data2 = table2.find_all('tr')
for row in column_data2[1:]:
    row_data = row.find_all('td')
    table2_data = [data.text.strip() for data in row_data]
    length = len(df2)
    df2.loc[length] = table2_data

In [82]:
df2

    # TRADING CODE  OPEN*   HIGH    LOW   LTP* DEVIATION %
0   1   SPCERAMICS   16.2   17.7   16.2   17.7      9.2593
1   2     ENVOYTEX   41.3   44.8   41.3   44.0      6.5375
2   3        GHAIL   12.3   13.3   12.3   13.1      6.5041
3   4   FUWANGFOOD   16.1   17.1   16.0   16.9      4.9689
4   5        DESCO   22.7   24.1   22.7   23.8      4.8458
5   6    SALAMCRST   21.8   23.6   21.1   22.7      4.1284
6   7     NPOLYMER   31.6   34.6   31.6   32.9      4.1139
7   8    GEMINISEA  152.9  164.8  152.4  159.1      4.0549
8   9        NHFIL   27.2   28.4   27.2   28.2      3.6765
9  10    MEGHNAINS   25.6   26.8   25.6   26.5      3.5156